Importing required libraries.

In [31]:
import pandas as pd
import matplotlib.pyplot as plt

Creating a new variable called df & assigning the csv file csv to.

In [32]:
df = pd.read_csv("weight-height.csv")
df.shape

(10000, 3)

In [33]:
df.head(10)

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801
5   Male  67.253016  152.212156
6   Male  68.785081  183.927889
7   Male  68.348516  167.971110
8   Male  67.018950  175.929440
9   Male  63.456494  156.399676

In [34]:
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [35]:
df.describe()

             Height        Weight
count  10000.000000  10000.000000
mean      66.367560    161.440357
std        3.847528     32.108439
min       54.263133     64.700127
25%       63.505620    135.818051
50%       66.318070    161.212928
75%       69.174262    187.169525
max       78.998742    269.989699

In [36]:
df.isnull().sum()

Gender    0
Height    0
Weight    0
dtype: int64